target/
.classpath
.project
.settings/

pmd-java-dist/.DS_Store

.idea/

.DS_Store

testDataParsedAst/**.json

testDataParsedAst/

astAnalyse/__pycache__/

temp_ast_output_folder/

data-clumps-result.json

analyse/data-clumps-results/

analyse/src/ignoreCoverage/astGenerator/temp_ast_output/
